<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sentiment Analysis</title>

    <!-- CDN Alpine.js -->
    <script src="//unpkg.com/alpinejs" defer></script>

    <!-- CDN Tailwind CSS -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Daisy UI CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />

    <!-- Inter Font -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- SweetAlert CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.6/dist/sweetalert2.min.css"
    />

    <!-- SweetAlert JS -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
  </head>
  <body>
    <div class="bg-white h-screen">
      <!-- Header - Start -->
      <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-center p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex">
            <a href="#" class="-m-1.5 p-1.5 flex gap-4 items-center">
              <img class="h-8 w-auto" src="../static/images/logo.png" alt="" />
              <span class="font-semibold">SentimenGo</span>
            </a>
          </div>
        </nav>
      </header>
      <!-- Header - End -->

      <!-- Hero - Start -->
      <section id="upload" class="relative isolate px-6 pt-14 lg:px-8">
        <!-- Gradient -->
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>

        <!-- Main Content - Start -->
        <div class="mx-auto max-w-2xl py-24">
          <div class="text-center">
            <h1
              class="text-balance text-4xl font-semibold tracking-tight text-gray-900"
            >
              Gojek Sentiment Analysis
            </h1>
            <p class="mt-8 text-pretty text-md text-gray-500 sm:text-lg/8">
              Maksimalkan kekuatan analisis sentimen untuk memantau kehadiran
              online Anda, memahami opini publik, dan mengambil keputusan yang
              berdampak.
            </p>

            <!-- Form untuk upload file data csv / excel  -->
            <form action="/upload" method="POST" enctype="multipart/form-data">
              <label class="form-control w-full max-w-md mt-4 mx-auto">
                <div class="label">
                  <span class="label-text">Upload File CSV atau XLXS</span>
                </div>
                <input
                  type="file"
                  name="file"
                  accept=".csv, .xlsx, .xls"
                  required
                  class="file-input file-input-bordered w-full"
                />
              </label>
              <button type="submit" class="btn btn-primary block mt-4 mx-auto">
                Upload
              </button>
            </form>

            <!-- Teks untuk membuka modal -->
            <div class="mt-4 text-center">
              <button
                onclick="openModal()"
                class="mx-auto text-blue-500 underline text-sm flex items-center justify-center gap-2"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="24"
                  height="24"
                  viewBox="0 0 24 24"
                  fill="currentColor"
                  class="icon icon-tabler icons-tabler-filled icon-tabler-info-hexagon"
                >
                  <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                  <path
                    d="M10.425 1.414a3.33 3.33 0 0 1 3.026 -.097l.19 .097l6.775 3.995l.096 .063l.092 .077l.107 .075a3.224 3.224 0 0 1 1.266 2.188l.018 .202l.005 .204v7.284c0 1.106 -.57 2.129 -1.454 2.693l-.17 .1l-6.803 4.302c-.918 .504 -2.019 .535 -3.004 .068l-.196 -.1l-6.695 -4.237a3.225 3.225 0 0 1 -1.671 -2.619l-.007 -.207v-7.285c0 -1.106 .57 -2.128 1.476 -2.705l6.95 -4.098zm1.575 9.586h-1l-.117 .007a1 1 0 0 0 0 1.986l.117 .007v3l.007 .117a1 1 0 0 0 .876 .876l.117 .007h1l.117 -.007a1 1 0 0 0 .876 -.876l.007 -.117l-.007 -.117a1 1 0 0 0 -.764 -.857l-.112 -.02l-.117 -.006v-3l-.007 -.117a1 1 0 0 0 -.876 -.876l-.117 -.007zm.01 -3l-.127 .007a1 1 0 0 0 0 1.986l.117 .007l.127 -.007a1 1 0 0 0 0 -1.986l-.117 -.007z"
                  />
                </svg>
                Lihat Petunjuk Upload File
              </button>
            </div>
          </div>
        </div>
        <!-- Main Content - End -->

        <!-- Gradient -->
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
      </section>
      <!-- Hero - End -->

      <!-- Tentang -->
      <section id="tentang" x-data="tentangAnimation()" x-init="init()">
        <div class="container mx-auto px-4 text-center py-24">
          <p
            class="w-fit mx-auto relative md:text-sm text-xs after:content-[''] after:absolute after:h-1/2 after:bg-blue-100 after:bottom-0 after:w-full after:left-0 after:-z-10 md:font-medium font-normal opacity-0"
            x-ref="tentangSmallTitleText"
          >
            Tentang
          </p>
          <h1
            class="font-semibold lg:text-4xl mt-1 mb-4 lg:leading-tight leading-normal text-xl w-full opacity-0"
            x-ref="tentangTitleText"
          >
            SentimenGo
          </h1>
          <p
            class="lg:w-2/3 w-full mx-auto leading-loose text-sm lg:text-base opacity-0"
            x-ref="tentangParagrafText"
          >
            Sebuah aplikasi berbasis web yang dirancang untuk
            <span class="text-blue-600"
              >menganalisis dan memantau sentimen dari ulasan pengguna
              Gojek</span
            >secara otomatis. Dengan teknologi canggih, SentimenGo mampu
            mengidentifikasi dan mengklasifikasikan perasaan pengguna – apakah
            positif, negatif, atau netral – sehingga memudahkan pengelolaan
            pengalaman pelanggan dan pengambilan keputusan yang lebih tepat.
          </p>
        </div>
      </section>

      <!-- Tahapan -->
      <section id="tahapan" x-data="tahapanDataAndAnimation()" x-init="init()">
        <div class="container px-4 mx-auto py-24">
          <p
            class="w-fit mx-auto relative md:text-sm text-xs after:content-[''] after:absolute after:h-1/2 after:bg-blue-100 after:bottom-0 after:w-full after:left-0 after:-z-10 md:font-medium font-normal opacity-0"
            x-ref="tahapanSmallTitleText"
          >
            Cara Penggunaan
          </p>
          <h1
            class="text-center font-semibold lg:text-4xl mt-1 mb-4 lg:leading-tight leading-normal text-xl w-full opacity-0"
            x-ref="tahapanTitleText"
          >
            Jelajahi Solusi Praktis Analisis Sentimen Online
          </h1>
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-12"
            x-ref="tahapanPointText"
          >
            <template x-for="(tahapan, index) in tahapanPoints" :key="index">
              <div
                class="bg-transparent p-4 rounded-md shadow-xl border-2 border-blue-500 opacity-0"
              >
                <p class="text-5xl bold" x-text="index+1"></p>
                <h2 class="text-lg font-bold mb-4" x-text="tahapan.title"></h2>
                <p
                  class="text-sm lg:text-base"
                  x-text="tahapan.description"
                ></p>
              </div>
            </template>
          </div>
        </div>
      </section>

      <!-- Teams -->
      <section id="team" x-data="teamDataAndAnimation()" x-init="init()">
        <div class="container px-4 mx-auto py-24">
          <p
            class="w-fit mx-auto relative md:text-sm text-xs after:content-[''] after:absolute after:h-1/2 after:bg-blue-100 after:bottom-0 after:w-full after:left-0 after:-z-10 md:font-medium font-normal opacity-0"
            x-ref="teamSmallTitleText"
          >
            Team
          </p>
          <h1
            class="text-center font-semibold lg:text-4xl mt-1 mb-4 lg:leading-tight leading-normal text-xl w-full opacity-0"
            x-ref="teamTitleText"
          >
            Gema Indonesia
          </h1>
          <div
            class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4 mt-12"
            x-ref="teamPointText"
          >
            <template x-for="(team, index) in teamPoints" :key="index">
              <div
                class="bg-transparent p-4 rounded-md shadow-xl opacity-0 text-center"
              >
                <div class="avatar">
                  <div class="w-24 rounded-full">
                    <img :src="team.imageURL" />
                  </div>
                </div>
                <h2 class="text-lg font-bold mb-4" x-text="team.title"></h2>
                <p class="text-sm lg:text-base" x-text="team.description"></p>
              </div>
            </template>
          </div>
        </div>
      </section>

      <!-- Closure -->
      <section id="closure" x-data="closureAnimation()" x-init="init()">
        <div
          class="container py-16 lg:py-24 px-4 mx-auto bg-blue-50 rounded-xl w-[95%]"
        >
          <p
            class="w-fit mx-auto relative md:text-sm text-xs after:content-[''] after:absolute after:h-1/2 after:bg-blue-300 after:bottom-0 after:w-full after:left-0 after:-z-10 z-10 md:font-medium font-normal opacity-0"
            x-ref="closureSmallTitleText"
          >
            Mulai Sekarang
          </p>
          <h1
            class="text-center font-semibold lg:text-4xl mt-1 mb-4 lg:leading-tight leading-normal text-xl w-full opacity-0"
            x-ref="closureTitleText"
          >
            Analisis Sentimen Pengguna Gojek
          </h1>
          <p
            class="text-sm lg:text-base text-center w-fit md:w-2/3 mx-auto mb-8 opacity-0"
            x-ref="closureParagrafText"
          >
            Mulai jelajahi manfaat dari analisis sentimen yang lebih akurat dan
            efisien. Dapatkan wawasan berharga dari ulasan pengguna dengan satu
            klik.
          </p>
          <a
            href="#upload"
            class="w-fit mx-auto flex items-center space-x-2 font-medium text-white bg-blue-800 hover:bg-blue-900 py-3 px-3 md:py-2.5 rounded-full transition-[background] duration-300 text-sm opacity-0"
            x-ref="closureCta"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-arrow-up"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path d="M12 5l0 14" />
              <path d="M18 11l-6 -6" />
              <path d="M6 11l6 -6" />
            </svg>
            <span>Analisis Sekarang</span>
          </a>
        </div>
      </section>

      <!-- Footer -->
      <footer>
        <div
          class="container py-12 px-4 mx-auto flex items-center justify-center flex-col sm:flex-row space-y-5 sm:space-y-0"
        >
          <div class="logo">
            <a
              href="."
              class="font-semibold text-lg text-blue-900 flex items-center space-x-2"
            >
              <img
                src="../static/images/logo.png"
                alt="SentimenGo"
                width="50"
                height="50"
              />
              <span>SentimenGo</span></a
            >
          </div>
        </div>
        <p class="text-center text-xs opacity-70 pb-4">
          Copyright &copy; 2024. Gema Indonesia. All rights reserved.
        </p>
      </footer>

      <!-- Modal Petunjuk File -->
      <div
        id="instructionModal"
        class="fixed inset-0 bg-gray-600 bg-opacity-50 hidden justify-center items-center z-50"
      >
        <div class="bg-white rounded-lg w-96 p-6">
          <h2 class="text-xl font-semibold text-gray-700 mb-4 text-center">
            Petunjuk Upload File
          </h2>
          <p class="text-gray-600 text-center mb-4">
            Harap upload file CSV atau Excel yang memiliki kolom berikut:
          </p>
          <ul class="text-sm text-gray-600 list-disc list-inside mb-4">
            <li>content</li>
            <li>score</li>
            <li>thumbsUpCount</li>
            <li>reviewCreatedVersion</li>
            <li>at</li>
            <li>kota</li>
          </ul>
          <button
            onclick="closeModal()"
            class="bg-red-500 text-white py-2 px-4 rounded-lg mt-4 w-full"
          >
            Tutup
          </button>
        </div>
      </div>
    </div>

    <!-- SweetAlert for display errors -->
    {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %}
    <script>
      // Loop through all flash messages and display using SweetAlert
      {% for category, message in messages %}
          Swal.fire({
              title: "Error",  // Set the title for the error
              text: "{{ message }}",  // Display the message from Flask
              icon: "error",  // Display an error icon
          });
      {% endfor %}
    </script>
    {% endif %} {% endwith %}

    <script>
      // Fungsi untuk membuka modal
      function openModal() {
        document.getElementById("instructionModal").classList.remove("hidden");
        document.getElementById("instructionModal").classList.add("flex");
      }

      // Fungsi untuk menutup modal
      function closeModal() {
        document.getElementById("instructionModal").classList.remove("flex");
        document.getElementById("instructionModal").classList.add("hidden");
      }
    </script>

    <script src="../static/js/script.js"></script>
  </body>
</html>
