<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Preview Data</title>

    <!-- Tailwind CDN -->
    <script src="https://cdn.tailwindcss.com"></script>

    <!-- Daisy UI CDN -->
    <link
      href="https://cdn.jsdelivr.net/npm/daisyui@4.12.19/dist/full.min.css"
      rel="stylesheet"
      type="text/css"
    />

    <!-- Favicon -->
    <link
      rel="shortcut icon"
      href="../static/images/logo.png"
      type="image/x-icon"
    />

    <!-- Inter Font -->
    <link rel="preconnect" href="https://rsms.me/" />
    <link rel="stylesheet" href="https://rsms.me/inter/inter.css" />

    <!-- Style CSS -->
    <link rel="stylesheet" href="../static/css/styles.css" />
    <style>
      th,
      td {
        word-wrap: break-word; /* Memungkinkan wrapping teks di dalam kolom */
        overflow-wrap: break-word; /* Memastikan kata panjang dipotong dengan rapi */
        min-width: 100px;
        max-width: 150px;
      }
    </style>
  </head>
  <body>
    <div class="bg-white h-screen">
      <!-- Header - Start -->
      <header class="absolute inset-x-0 top-0 z-50">
        <nav
          class="flex items-center justify-center p-6 lg:px-8"
          aria-label="Global"
        >
          <div class="flex">
            <a href="/" class="-m-1.5 p-1.5 flex gap-4 items-center">
              <img class="h-8 w-auto" src="../static/images/logo.png" alt="" />
              <span>SentimenGo</span>
            </a>
          </div>
        </nav>
      </header>
      <!-- Header - End -->

      <div class="relative isolate px-6 pt-14 lg:px-8">
        <!-- Gradient -->
        <div
          class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%-11rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 rotate-[30deg] bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%-30rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>

        <!-- Main Content -->
        <div class="mx-auto max-w-6xl py-16">
          <h1
            class="text-balance text-xl font-semibold tracking-tight text-gray-900 sm:text-3xl"
          >
            SentimenGo Analysis Summary
          </h1>

          <div class="lg:flex-row items-center flex-col flex mt-4 gap-4">
            <!-- Pie Chart -->
            <img
              src="data:image/png;base64,{{ image_data }}"
              alt="Sentiment Distribution"
              class="w-96 border-2 border-blue-600 rounded-md"
            />

            <div class="text w-full">
              <!-- Rata-rata Confidence Score -->
              <div class="mb-4">
                <h3
                  class="text-xl font-bold text-gray-900 sm:truncate sm:text-lg sm:tracking-tight"
                >
                  Average Confidence Score
                </h3>
                <p
                  class="py-1 px-2 mt-1 rounded-lg bg-blue-600 text-white w-fit"
                >
                  {{ avg_probability }}%
                </p>
              </div>

              <!-- Distribusi sentiment -->
              <div class="mb-4">
                <h3
                  class="text-xl font-bold text-gray-900 sm:truncate sm:text-lg sm:tracking-tight"
                >
                  Sentiment Counts
                </h3>
                <div class="stats shadow md:w-fit w-full">
                  {% for sentiment, count in sentiment_counts.items() %}
                  <div class="stat place-items-center">
                    <div class="stat-title">{{ sentiment|capitalize }}</div>
                    <div
                      class="stat-value {% if sentiment == 'positif' %} text-green-600 {% elif sentiment == 'negatif' %} text-red-600 {% else %} text-blue-600 {% endif %}"
                    >
                      {{ count }}
                    </div>
                  </div>
                  {% endfor %}
                </div>
              </div>

              <!-- Button download CSV dan PDF -->
              <div class="mb-4">
                <a class="btn btn-primary" href="/download_pdf">
                  Download Report (PDF)
                </a>
                <a class="btn btn-outline btn-primary" href="/download_csv">
                  Download Report (CSV)
                </a>
              </div>
            </div>
          </div>

          <div class="overflow-x-auto mx-auto max-h-[90vh] mt-4">
            <table
              border="1"
              class="table table-xs table-pin-rows p-3 bg-white"
            >
              <thead>
                <tr>
                  {% for column in columns %}
                  <th>{{ column }}</th>
                  {% endfor %}
                </tr>
              </thead>
              <tbody>
                {% for row in df %}
                <tr class="hover">
                  {% for cell in row %}
                  <td>{{ cell }}</td>
                  {% endfor %}
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>

        <!-- Gradient -->
        <div
          class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-30rem)]"
          aria-hidden="true"
        >
          <div
            class="relative left-[calc(50%+3rem)] aspect-[1155/678] w-[36.125rem] -translate-x-1/2 bg-gradient-to-tr from-[#ff80b5] to-[#9089fc] opacity-30 sm:left-[calc(50%+36rem)] sm:w-[72.1875rem]"
            style="
              clip-path: polygon(
                74.1% 44.1%,
                100% 61.6%,
                97.5% 26.9%,
                85.5% 0.1%,
                80.7% 2%,
                72.5% 32.5%,
                60.2% 62.4%,
                52.4% 68.1%,
                47.5% 58.3%,
                45.2% 34.5%,
                27.5% 76.7%,
                0.1% 64.9%,
                17.9% 100%,
                27.6% 76.8%,
                76.1% 97.7%,
                74.1% 44.1%
              );
            "
          ></div>
        </div>
      </div>
    </div>
  </body>
</html>
